<% if !@link.nil? %>
	<div class="flash">
		<p><%= @link.url.original %> has been shortened to /<%= @link.identifier %></p>
	</div>
<%end%>
<section id="add">
	<form action="/" method="post">
		<div>
			<textarea name="original" placeholder="Paste Your Long URL Here"></textarea>
		</div>
		<div id="submit">
			<input type="submit" value="Shorten">	
		</div>
	</form>
</section>

<% @urls.each do |url| %>
  <article>
    <p>
      <%= url.original %>
    </p>
  </article>
<% end %>
