<!DOCTYPE html>
<html>
<head>
	<title>URL Shortener</title>
	<meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>
<body>
	<header>
		<h1>URL Shortener App</h1>
		<h2>An app to make your long urls bite sized</h2>
	</header>
	<section id="main">
		<%= yield %>
	</section>
	<footer>
		<p><small>A clone of URL shortening services, like bitly and tinyURL</small></p>
	</footer>
</body>
</html>